body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 14px;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 14px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #6d6d6d
}

h2 {
    font-size: 12px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #6d6d6d
}


p {
    font-size: 12px;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    padding-top: 5px; 
    font-size: 10px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
