<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>
			<h1>felicia sit</h1>
			
			<nav>
	    		<ul>
				<li><a href="/"><b>felicia sit<b></a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/cv">cv</a></li>
	    		</ul>
			</nav>
			
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			
			<footer>
			© Felicia Sit
			</footer>
			
		</body>
	</html>
